/*----*/
// tr:nth-child(even) {background: #f9f9f9;}
// tr:nth-child(odd) {background: #fff;}
// .agenda
// {
// background:linear-gradient(to right, #fc00ff, #00dbde);
// }
// .summary
// {
// background:linear-gradient(45deg, #f16e3c, #e3c94b);	
// }
// .reminder
// {
// background:linear-gradient(to left, #11998e, #52cc80);	
// }
// .activity
// {
// background:linear-gradient(45deg, #705be1, #52d8c6);	
// }
// .card{
// 	margin-bottom: 30px;
// 	 @media (max-width:767px)
// 	 {
// 		margin-bottom:15px; 
// 	}
// 	.card-header{
// 		position: relative;
// 		padding-left:60px;
// 		color: #fff;
// 		.icon{
// 			 position: absolute;
// 		     left: 19px;
// 			 top: 50%;
//              transform: translateY(-50%);	
// 			i{
// 			 font-size:24px;
// 			}
// 		}
// 		small{
// 			display:block;
// 		}
// 		.arrowRight {
// 			position: absolute;
// 			right: 18px;
// 			top: 50%;
// 			transform: translateY(-50%);
// 		   }
// 			margin: 0px;
// 	}
// 	.card-body{
// 		padding:0px;
// 		.table{
// 			tbody{
// 				tr{
// 					td{
// 						font-size:14px;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
body{
	font-size: 13px;
}
.page-body{
	padding: 10px;
}
.Hidden {
    visibility: hidden;
    position: absolute;
    left: 1px;
    top: 1px;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
.well.well-sm.background_dark {
    background: #fdfdfd;
    padding: 10px !important;
    border: 1px solid #d6d6d6;
}
.jarviswidget, .well, .panel {
    border-radius: 5px !important;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 3px 10px 0px rgba(0,0,0,0.19) !important;
}
.well-sm table tr td {
    border-top: 0px solid #ddd;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 8px 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
	-webkit-appearance: none;
}
.smart-form .select select {
    padding: 5px;
}
.smart-form .select i {
    position: absolute;
    top: 10px;
    right: 11px;
    width: 5px;
    height: 11px;
    background: #fff;
    box-shadow: 0 0 0 9px #fff;
}
select.req_feild + i {
    box-shadow: 0 0 0 9px #fff7f7 !important;
}
.smart-form *, .smart-form :after, .smart-form :before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.smart-form .input, .smart-form .select, .smart-form .textarea, .smart-form .radio, .smart-form .checkbox, .smart-form .toggle, .smart-form .button {
    position: relative;
    display: block;
    font-weight: 400;
}
.req_feild {
    border-left-width: 3px !important;
    border-left-color: red !important;
    border-left-style: solid !important;
    background: #fff7f7 !important;
}
.smart-form .select i:before {
    top: 0;
    border-bottom: 4px solid #404040;
}
.smart-form .select i:after {
    bottom: 0;
    border-top: 4px solid #404040;
}
.smart-form .select i:after, .smart-form .select i:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.smart-form .radio i, .smart-form .checkbox i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}
.smart-form .radio:last-child, .smart-form .checkbox:last-child {
    margin-bottom: 0;
}
.smart-form .radio, .smart-form .checkbox {
    margin-bottom: 4px;
    padding-left: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
}

.smart-form .input, .smart-form .select, .smart-form .textarea, .smart-form .radio, .smart-form .checkbox, .smart-form .toggle, .smart-form .button {
    position: relative;
    display: block;
    font-weight: 400;
}
.smart-form .radio input, .smart-form .checkbox input {
    position: absolute;
    left: -9999px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}
.modal_treatment .dimension-templates input[type="radio"], input[type="checkbox"] {
    margin: 2px -7px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    float: left;
}
.smart-style-2 .smart-form .checkbox input:checked+i, .smart-style-2 .smart-form .radio input:checked+i, .smart-style-2 .smart-form .toggle input:checked+i {
    border-color: #3b9ff3;
}
.smart-form.table td .radio i, .smart-form.table td .checkbox i, .smart-form.table th .radio i, .smart-form.table th .checkbox i {
    top: 0 !important;
}
.smart-form .radio input:checked + i, .smart-form .checkbox input:checked + i, .smart-form .toggle input:checked + i {
    border-color: #3276B1;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea, .smart-form .radio i, .smart-form .checkbox i, .smart-form .toggle i, .smart-form .icon-append, .smart-form .icon-prepend {
    border-color: #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
}
.smart-form .radio i, .smart-form .checkbox i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}
.smart-form .checkbox input:checked + i:after {
    opacity: 1;
}
.smart-form .checkbox input + i:after {
    color: #3276B1;
}
.smart-form .checkbox input + i:after {
    content: '\f00c';
    top: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    font: 400 16px/19px FontAwesome;
    text-align: center;
}
.smart-form .radio input + i:after, .smart-form .checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity .1s;
    -o-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.smart-form .checkbox input:checked:hover + i:after {
    content: '\f00d';
}


/*button css */
.button {
    width: 130px !important;
    margin-left: 5px;
    margin-right: 5px;
}
.buttonrow {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

a.btn, button.btn, input.btn {
     box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 3px 10px 0px rgba(0,0,0,0.19);
}
.btn-default {
    background-color: #3b9ff3;
    border-color: #3292E2;
    color: #fff !important;
}
.btn-xs {
    padding: 5px 15px;
    height: auto;
	width: auto !important;
	font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

a.btn, button.btn, input.btn {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 3px 10px 0px rgba(0,0,0,0.19);
}
.btn-default {
    background-color: #3b9ff3;
    border-color: #3292E2;
    color: #fff !important;
}

.btn {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
a:link, .btn, button {
    -webkit-tap-highlight-color: rgba(169,3,41,.5);
}

.smart-style-2 .btn-primary, .smart-style-2 .smart-form .button {
    background-color: #3b9ff3;
    border-color: #3292E2;
}

a.btn, button.btn, input.btn {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 3px 10px 0px rgba(0,0,0,0.19);
}
.btn-primary {
    color: #fff;
    background-color: #3b9ff3;
    border-color: #3292E2;
}
.stdwidth {
    width: 100%;
    clear: both;
}
.contentbox {
    /* margin: auto; */
    padding-top: 12px;
    text-align: center;
}
.stdwidth {
    width: 100%;
    clear: both;
}
.contentbox {
    /* margin: auto; */
    padding-top: 12px;
    text-align: center;
}
p {
    margin: 0 0 9px;
} 

.react-datepicker-popper{
    z-index: 999;
}
.react-date-picker{
    width: 100%;
}
.react-date-picker__wrapper{
width: 100%;
}
.wrapperClassName {
border: 1px solid red;
padding: 20px; 
resize: both;
overflow: auto;
min-height: 200px;
}



//
// Basic Bootstrap table
//

.table {
    width: 100%;
    margin-bottom: $spacer;
    color: $table-color;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  
    th,
    td {
      padding: $table-cell-padding;
      vertical-align: top;
      border-top: $table-border-width solid $table-border-color;
    }
  
    thead th {
      vertical-align: bottom;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
    }
  
    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }
  }
  
  
  //
  // Condensed table w/ half padding
  //
  
  .table-sm {
    th,
    td {
      padding: $table-cell-padding-sm;
    }
  }
  
  
  // Border versions
  //
  // Add or remove borders all around the table and between all the columns.
  
  .table-bordered {
    border: $table-border-width solid $table-border-color;
  
    th,
    td {
      border: $table-border-width solid $table-border-color;
    }
  
    thead {
      th,
      td {
        border-bottom-width: 2 * $table-border-width;
      }
    }
  }
  
  .table-borderless {
    th,
    td,
    thead th,
    tbody + tbody {
      border: 0;
    }
  }
  
  // Zebra-striping
  //
  // Default zebra-stripe styles (alternating gray and transparent backgrounds)
  
  .table-striped {
    tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: $table-accent-bg;
    }
  }
  
  
  // Hover effect
  //
  // Placed here since it has to come after the potential zebra striping
  
  .table-hover {
    tbody tr {
      @include hover {
        color: $table-hover-color;
        background-color: $table-hover-bg;
      }
    }
  }
  
  
  // Table backgrounds
  //
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  
  @each $color, $value in $theme-colors {
    @include table-row-variant($color, theme-color-level($color, $table-bg-level), theme-color-level($color, $table-border-level));
  }
  
  @include table-row-variant(active, $table-active-bg);
  
  
  // Dark styles
  //
  // Same table markup, but inverted color scheme: dark background and light text.
  
  // stylelint-disable-next-line no-duplicate-selectors
  .table {
    .thead-dark {
      th {
        color: $table-dark-color;
        background-color: $table-dark-bg;
        border-color: $table-dark-border-color;
      }
    }
  
    .thead-light {
      th {
        color: $table-head-color;
        background-color: $table-head-bg;
        border-color: $table-border-color;
      }
    }
  }
  
  .table-dark {
    color: $table-dark-color;
    background-color: $table-dark-bg;
  
    th,
    td,
    thead th {
      border-color: $table-dark-border-color;
    }
  
    &.table-bordered {
      border: 0;
    }
  
    &.table-striped {
      tbody tr:nth-of-type(odd) {
        background-color: $table-dark-accent-bg;
      }
    }
  
    &.table-hover {
      tbody tr {
        @include hover {
          color: $table-dark-hover-color;
          background-color: $table-dark-hover-bg;
        }
      }
    }
  }





//   nav bar

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

    .nav > li {
        position: relative;
        display: block
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 9px 10px 10px
        }

            .nav > li > a:hover, .nav > li > a:focus {
                text-decoration: none;
                background-color: #eee
            }

        .nav > li.disabled > a {
            color: #999
        }

            .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
                color: #999;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed
            }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: #eee;
        border-color: #3276b1
    }

    .nav .nav-divider {
        height: 1px;
        margin: 8px 0;
        overflow: hidden;
        background-color: #e5e5e5
    }

    .nav > li > a > img {
        max-width: none
    }

.nav-tabs {
    border-bottom: 1px solid #ddd
}

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px
    }

        .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.428571429;
            border: 1px solid transparent;
            border-radius: 2px 2px 0 0
        }

            .nav-tabs > li > a:hover {
                border-color: #eee #eee #ddd
            }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            cursor: default
        }

    .nav-tabs.nav-justified {
        width: 100%;
        border-bottom: 0
    }

        .nav-tabs.nav-justified > li {
            float: none
        }

            .nav-tabs.nav-justified > li > a {
                text-align: center;
                margin-bottom: 5px
            }

        .nav-tabs.nav-justified > .dropdown .dropdown-menu {
            top: auto;
            left: auto
        }

@media(min-width:768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }

        .nav-tabs.nav-justified > li > a {
            margin-bottom: 0
        }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 2px
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd
}

@media(min-width:768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 2px 2px 0 0
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff
    }
}

.nav-pills > li {
    float: left
}

    .nav-pills > li > a {
        border-radius: 2px
    }

    .nav-pills > li + li {
        margin-left: 2px
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #3276b1
    }

.nav-stacked > li {
    float: none
}

    .nav-stacked > li + li {
        margin-top: 2px;
        margin-left: 0
    }

.nav-justified {
    width: 100%
}

    .nav-justified > li {
        float: none
    }

        .nav-justified > li > a {
            text-align: center;
            margin-bottom: 5px
        }

    .nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto
    }

@media(min-width:768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%
    }

        .nav-justified > li > a {
            margin-bottom: 0
        }
}

.nav-tabs-justified {
    border-bottom: 0
}

    .nav-tabs-justified > li > a {
        margin-right: 0;
        border-radius: 2px
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
        border: 1px solid #ddd
    }

@media(min-width:768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 2px 2px 0 0
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff
    }
}

.tab-content > .tab-pane {
    display: none
}

.tab-content > .active {
    display: block
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 18px;
    border: 1px solid transparent
}

@media(min-width:768px) {
    .navbar {
        border-radius: 2px
    }
}

@media(min-width:768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 13px;
    padding-left: 13px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch
}

    .navbar-collapse.in {
        overflow-y: auto
    }

@media(min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important
        }

        .navbar-collapse.in {
            overflow-y: visible
        }

    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -13px;
    margin-left: -13px
}

@media(min-width:768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media(min-width:768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media(min-width:768px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-brand {
    float: left;
    padding: 16px 13px;
    font-size: 17px;
    line-height: 18px;
    height: 50px
}

    .navbar-brand:hover, .navbar-brand:focus {
        text-decoration: none
    }

@media(min-width:768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -13px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 13px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px
}

    .navbar-toggle:focus {
        outline: 0
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px
        }

@media(min-width:768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 8px -13px
}

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 18px
    }

@media(max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

        .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px
        }

        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 18px
        }

            .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
                background-image: none
            }
}

@media(min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

        .navbar-nav > li {
            float: left
        }

            .navbar-nav > li > a {
                padding-top: 16px;
                padding-bottom: 16px
            }

        .navbar-nav.navbar-right:last-child {
            margin-right: -13px
        }
}

@media(min-width:768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important
    }
}

.navbar-form {
    margin-left: -13px;
    margin-right: -13px;
    padding: 10px 13px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
    margin-top: 9px;
    margin-bottom: 9px
}

@media(min-width:768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .input-group > .form-control {
        width: 100%
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .radio, .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        vertical-align: middle
    }

        .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
            float: none;
            margin-left: 0
        }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }
}

@media(max-width:767px) {
    .navbar-form .form-group {
        margin-bottom: 5px
    }
}

@media(min-width:768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

        .navbar-form.navbar-right:last-child {
            margin-right: -13px
        }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.navbar-btn {
    margin-top: 9px;
    margin-bottom: 9px
}

    .navbar-btn.btn-sm {
        margin-top: 10px;
        margin-bottom: 10px
    }

    .navbar-btn.btn-xs {
        margin-top: 14px;
        margin-bottom: 14px
    }

.navbar-text {
    margin-top: 16px;
    margin-bottom: 16px
}

@media(min-width:768px) {
    .navbar-text {
        float: left;
        margin-left: 13px;
        margin-right: 13px
    }

        .navbar-text.navbar-right:last-child {
            margin-right: 0
        }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

    .navbar-default .navbar-brand {
        color: #777
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent
        }

    .navbar-default .navbar-text {
        color: #777
    }

    .navbar-default .navbar-nav > li > a {
        color: #777
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #333;
            background-color: transparent
        }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd
    }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #ddd
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ccc
        }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #e7e7e7;
        color: #555
    }

@media(max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
            background-color: transparent
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #777
}

    .navbar-default .navbar-link:hover {
        color: #333
    }

.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

    .navbar-inverse .navbar-brand {
        color: #999
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #fff;
            background-color: transparent
        }

    .navbar-inverse .navbar-text {
        color: #999
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #999
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent
        }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #444;
        background-color: transparent
    }

    .navbar-inverse .navbar-toggle {
        border-color: #333
    }

        .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
            background-color: #333
        }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #fff
        }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #101010
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #080808;
        color: #fff
    }

@media(max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: transparent
        }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #999
}

    .navbar-inverse .navbar-link:hover {
        color: #fff
    }

    .ActiveOnlyTabGrid {
        float: right !important;
        margin-top: 4.5px;
    }
    
    li.ActiveOnlyTabGrid label.checkbox {
        display: inline-block;
        margin-left: 5px;
    }

    //table css from portlets project

    .table th{
        position: relative;
    }
    .table .sortable{cursor:pointer;}
    
    .table .sortable > div { 
        display: inline-block;
        width: 85%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
     }
    
    .table .sortable:hover:before,.table .sortable:hover:after, .table .sortable.sort_asc:before, .table .sortable.sort_desc:after {opacity:1;}
    
    .table .sortable:before {
        content: "\f0d8";
        border-width: 0 4px 4px;
        visibility: visible;
        right:3px;
        position: absolute;
        opacity: .3;
        top: 3px;
        font: normal normal normal 14px/1 FontAwesome;
    }
    
    .table .sortable:after {
        content: "\f0d7";
        border-width: 0 4px 4px;
        visibility: visible;
        right: 3px;
        position: absolute;
        opacity: .3;
        bottom: 3px;
        font: normal normal normal 14px/1 FontAwesome;
    }
    .tableBodyScroll tbody {
        display: block;
        overflow-y: auto;
        overflow-x:hidden;
        height: calc(100% - 32px);
    
    }
    .announcementEditor .tableBodyScroll thead,
.announcementEditor tbody tr {
  display: table;
  table-layout: fixed;
}
    .tableBodyScroll tbody tr {
    //   display: table;
      width: 100%;
    //   table-layout: fixed;
    }
    .tableBodyScroll thead {
      display: table;
      width: 100%;
      table-layout: fixed;
      background-color: #f8f8f8;
      overflow-x: auto ;
    }

    .pageFilterSection .col-xs-4 {
        display: flex;
        flex-direction: row;
    }
    .pageFilterSection .col-xs-4 div {
        margin-right: 10px;
    }
    .pageFilterSection select#page-menu {
        margin-left: 10px;
    }
    .pageFilterSection input#search-field {
        margin-left: 10px;
    }


    .table th {
        cursor: pointer;
        text-align: center;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
      .table .empty-cell {
        font-style: italic;
        color: darkgray;
        cursor: default;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
      
      .sort-icon:after {
        float: right;
        color: hsl(20, 0%, 70%);
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .sort-icon.sort-ascending:after  { content: '\f0de'; }
      .sort-icon.sort-descending:after { content: '\f0dd'; }
      .sort-icon.sort-none:after  { content: '\f0dc'; }